@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-500.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-600.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-700.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	width: 100%;
	min-width: 460px;
	margin: 0 auto;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #ffffff;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 460px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.75);	
	box-shadow: -5px 20px 90px 20px #000;
	border: 1px solid #000;
}

.header-container {
	max-width: 1362px;
	margin: 0 auto;
	padding: 45px 40px;
}

.header-container a {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	opacity: 1;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 242px;
	row-gap: 20px;
}

.header-nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	row-gap: 10px;
	column-gap: 44px;
	
}

.header-nav-item {
}

.header-nav-link {
	max-width: 246px;
}

.hero-section {
	padding-top: 250px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 172px;

	background-image: url('../img/main-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
}

.hero-container {
	max-width: 1362px;
	margin: 0 auto;
}

.hero-title {
	margin: 0;
	padding: 0;
	margin-top: 150px;
	margin-bottom: 165px;
	max-width: 355px;
	font-size: 80px;
	font-weight: 700;
	color: #FFF;
}

.hero-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(414px, 1fr));
	column-gap: 46px;
	row-gap: 20px;
	list-style-type: none;
}

.hero-item-text {
	max-width: 319px;
	min-height: 60px;
	padding-left: 95px;
	font-size: 24px;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 60px 60px;

}

.text-img-1 {
	background-image: url(../img/icons/star.svg);
}

.text-img-2 {
	background-image: url(../img/icons/sun.svg);
}

.text-img-3 {
	background-image: url(../img/icons/like.svg);
	background-size: 60px 55px;
}

.geolocation {
	width: 100%;
	background-color: #000000;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 2;
}

.geolocation-container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 72px 0;
	display: flex;
	justify-content: end;
}

.geolocation-img-container {
	max-width: 1467px;
	padding: min(144px, 10vh) min(294px, 20%) min(153px, 10vh) min(227px, 15%);
	box-sizing: border-box;
	background-image: url('../img/geolocation-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	border-radius: 50vh 0 0 50vh;
	
	overflow: hidden;
}

.geolocation-img-container p {
	max-width: 677px;
	font-size: 24px;
	font-weight: 500;
}

.geolocation-img-container p span {
	margin-top: 20px;
	display: block;
}

.geolocation-title {
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
	font-size: 40px;	
	font-weight: 700;
}


.gallary {
	width: 100%;
	padding: 60px 50px;
	box-sizing: border-box;
	background: #000000;
}

.gallary-container {
	position: relative;
	max-width: 1362px;
	margin: 0 auto;
}

.gallary-title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
	color: #ffffff;
}

.gallary .gallary-swiper {
	position: relative;
	max-width: 1119px;
	margin: 0 auto;
	margin-bottom: 46px;
}

.gallary-swiper-wrapper {
	display: flex;
}

.gallary .gallary-slide {
	max-width: 325px;
	height: 400px;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	overflow: hidden;
}

.gallary-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallary-text-title {
	margin: 0;
	margin-bottom: 46px;
	padding: 0;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
}

.gallary-text {
	max-width: 1130px;
	margin: 0 auto;
	margin-bottom: 46px;
	padding: 0;
}

.gallary-button {
	display: block;
	max-width: 221px;
	margin: 0 auto;
	padding: 16px 36px;
	box-sizing: border-box;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	border-radius: 30px;
	letter-spacing: 2.16px;
	color: #000;
	background-color: #52AFE3;
	border: none;
	cursor: pointer;
}
