@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-500.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-600.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: 
			url('../fonts/Montserrat-700.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
	width: 100%;
	min-width: 460px;
	margin: 0 auto;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #ffffff;
	background-color: #000000;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 460px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.75);	
	box-shadow: -5px 20px 90px 20px #000;
	border: 1px solid #000;
}

.header-container {
	max-width: 1362px;
	margin: 0 auto;
	padding: 45px 40px;
}

.header-container a {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	opacity: 1;
}

.header-container a:hover {
	text-shadow: 1px 4px 18px rgba(255, 255, 255, 0.60);
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 242px;
	row-gap: 20px;
}

.header-nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	row-gap: 10px;
	column-gap: 44px;
	
}

.header-nav-item {
}

.header-nav-link {
	max-width: 246px;
}

.hero-section {
	padding-top: 250px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 172px;

	background-image: url('../img/main-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
}

.hero-container {
	max-width: 1362px;
	margin: 0 auto;
}

.hero-title {
	margin: 0;
	padding: 0;
	margin-top: 150px;
	margin-bottom: 165px;
	max-width: 355px;
	font-size: 80px;
	font-weight: 700;
	color: #FFF;
}

.hero-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(414px, 1fr));
	column-gap: 46px;
	row-gap: 20px;
	list-style-type: none;
}

.hero-item-text {
	max-width: 319px;
	min-height: 60px;
	padding-left: 95px;
	font-size: 24px;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 60px 60px;

}

.text-img-1 {
	background-image: url(../img/icons/star.svg);
}

.text-img-2 {
	background-image: url(../img/icons/sun.svg);
}

.text-img-3 {
	background-image: url(../img/icons/like.svg);
	background-size: 60px 55px;
}

.geolocation {
	width: 100%;
	background-color: #000000;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 2;
}

.geolocation-container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 72px 0;
	display: flex;
	justify-content: end;
}

.geolocation-img-container {
	max-width: 1467px;
	padding: min(144px, 10vh) min(294px, 20%) min(153px, 10vh) min(227px, 15%);
	box-sizing: border-box;
	background-image: url('../img/geolocation-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	border-radius: 50vh 0 0 50vh;
	
	overflow: hidden;
}

.geolocation-img-container p {
	max-width: 677px;
	font-size: 24px;
	font-weight: 500;
}

.geolocation-img-container p span {
	margin-top: 20px;
	display: block;
}

.geolocation-title {
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
	font-size: 40px;	
	font-weight: 700;
}


.gallary {
	position: relative;
	width: 100%;
	padding: 60px 40px;
	box-sizing: border-box;
	background: #000000;
}

.gallary-container {
	position: relative;
	max-width: 1362px;
	padding: 0 40px;
	margin: 0 auto;
}

.gallary-container::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -72px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
}

.gallary-title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
	color: #ffffff;
}

.swiper-button {
	top: 275px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.swiper-button-next,
.swiper-button-prev {
    color: transparent !important;
}

.arrow-left {
    transform: rotate(180deg);
}

.gallary .gallary-swiper {
	position: relative;
	max-width: 1119px;
	margin: 0 auto;
	margin-bottom: 46px;
}

.gallary-swiper-wrapper {
	display: flex;
}

.gallary .gallary-slide {
	max-width: 325px;
	height: 400px;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	overflow: hidden;
}

.gallary-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallary-text-title {
	margin: 0;
	margin-bottom: 46px;
	padding: 0;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
}

.gallary-text {
	max-width: 1130px;
	margin: 0 auto;
	margin-bottom: 46px;
	padding: 0;
}


/* Неактивная стрелка */
.gallary-button-next.swiper-button-disabled,
.gallary-button-prev.swiper-button-disabled {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.button {
	display: block;
	padding: 16px 36px;
	box-sizing: border-box;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	border-radius: 30px;
	letter-spacing: 2.16px;
	color: #000;
	background-color: #52AFE3;
	border: none;
	cursor: pointer;
}

.button:hover	{
	box-shadow: 0 -10px 20px 0 rgba(82, 175, 227, 0.40), 0 10px 20px 0 rgba(27, 255, 27, 0.28), 0 1px 30px 0 #FFF;
}

.gallary-button {
	max-width: 221px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
  z-index: 1;
}

.info {
	position: relative;
	background-color: #000000;
	padding-top: 72px;
	padding-bottom: 400px;
	background-image: url("../img/info-bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.info-container {
	max-width: 1362px;
	padding: 0 40px;
	margin: 0 auto;
	z-index: -1;
}

.info-title {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 46px;
	padding: 0;
	text-align: center;
}

.info-list {
	margin: 0;
	margin-bottom: 46px;
	padding: 0;
	display: grid;
	grid-template-columns: auto;
	gap: 46px;
	justify-content: center;
	list-style-type: none;
}

.info-list-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 139px;
	row-gap: 20px;
}

.item-card {
	max-width: 555px;
	min-height: 345px;
	padding-top: 37px;
	background-image: url('../img/info-img-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: end;
	border-radius: 60px 60px 0 0;
}

.item-card-decoration-container {
	padding: 0 9px;
	padding-bottom: 37px;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(158, 158, 158, 0.00) 0%, rgba(0, 0, 0, 0.60) 11.06%);
}

.item-card-title {
	text-align: center;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 18px;
	padding: 0;
	font-size: 32px;
	font-weight: 700;
}

.item-card-text-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 252px;
	row-gap: 20px;
}

.item-card-description-text {
	max-width: 666px;
	margin: 0;
	padding: 0;
}

.item-info-text {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 600;
}

.item-info-text-value {
	width: 189px;
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-weight: 700;
	text-align: right;
}

.item-info-text span {
	display: block;
	margin-top: 12px;
}

.info-button {
	margin: 0 auto;
}

.form {
	max-width: 639px;
	display: grid;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.form-section {
	position: relative;
	margin-top: -300px;
	margin-bottom: 315px;
	padding: 0 40px;
	z-index: 2;
}

.form-container {
	max-width: 1362px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url('../img/form-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 60px;
}

.form-text-container {
	max-width: 639px;
	width: 100%;
	padding: 78px 51px 72px 51px;
	box-sizing: border-box;
}

.form-title {
	margin: 0;
	margin-bottom: 29px;
	padding: 0;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.form-field {
	width: 100%;
	min-width: 0;
}

.form-field input {
	width: 100%;
	padding: 25px 42px;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 500;
	border-radius: 60px;
	color: #ffffff;
	border: 2px solid #52AFE3;
	background-color: rgba(0, 0, 0, 0);
}

.form-field input::placeholder {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: rgba(227, 227, 227, 0.90);
}

.checkbox {
	margin-bottom: 47px;
	display: flex;
	align-items: flex-start;
	gap: 15px;
	cursor: pointer;
	user-select: none;
	font-size: 16px;
	line-height: 1.3;
}

/* Скрываем стандартный чекбокс */
.checkbox input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* Кастомный квадратик */
.checkmark {
	min-width: 49px;
	min-height: 49px;
	border-radius: 8px;
	background: #D9D9D9;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}

.checkbox-text {
	max-width: 415px;
	font-size: 16px;
	font-weight: 500;
}

.form-button {
	width: 322px;
	margin: 0 auto;
}

/* Галочка (через псевдоэлемент) */
.checkmark::after {
	content: "";
	width: 14px;
	height: 14px;
	background-color: #67b9ff;
	border-radius: 4px;
	transform: scale(0);
	transition: 0.2s ease;
}

/* При нажатом чекбоксе */
.checkbox input:checked + .checkmark::after {
	transform: scale(1);
}

.tour-info-box {
	max-width: 721px;
	width: 100%;
	padding: 12px 8px 0 8px;
	box-sizing: border-box;
	border-radius: 40px;
	background-color: #1E1E1E;
	backdrop-filter: blur(4px);
	color: #fff;
}

.tour-info-box-container {
	height: 100%;
	border: 2px solid #52AFE3;
	border-radius: 30px;
}

.tabs {
	display: flex;
	gap: 43px;
	margin-bottom: 25px;
}

.tab-btn {
	position: relative;
	background: none;
	border: none;
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
	padding: 8px 12px;
	cursor: pointer;
}

.tab-btn.active {
	color: #fff;
}

/* Контент */
.tab-content {
	padding: 54px 37px;
	display: none;
	font-size: 18px;
	line-height: 1.5;
}

.tab-content.active {
	display: block;
}

.question {
	position: absolute;
	bottom: -270px;
	right: 0;
	width: 211px;
	padding: 22px 30px;
	border-radius: 30px 0 0 30px;
	font-size: 24px;
	font-weight: 600;
	background-color: rgba(217, 217, 217, 0.40);
	color: rgba(255, 255, 255, 0.70);
	border: none;
	cursor: pointer;
	z-index: 100;
}

.footer {
	padding-bottom: 47px;
	background-image: url('../img/footer-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 60px;
}

.footer-container {
	max-width: 1357px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-social-list {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 89px;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	column-gap: 51px;
	row-gap: 10px;
	list-style-type: none;
	border-bottom: 2px solid #ffffff;
}

.footer-social-item {
}

.footer-social-link {
	display: flex;
	align-items: center;
	min-height: 58px;
	padding-left: 72px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	background-repeat: no-repeat;
}

.footer-social-link:hover {
	text-shadow: 1px 4px 18px rgba(255, 255, 255, 0.60);
}


.footer-social-link.telegram {
	background-image: url('../img/icons/telegram.svg');
	background-size: 37px 31px;
	background-position: 10px 10px;
}

.footer-social-link.vk {
	background-image: url('../img/icons/vk.svg');
	background-size: 58px 48px;
}

.footer-info-container {
	margin-bottom: 155px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-info-container p {
	margin: 0;
	margin-bottom: 19px;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
}

.footer-info-container a {
	display: block;
	margin-bottom: 19px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

.footer-info-container a:hover {
	text-shadow: 1px 4px 18px rgba(255, 255, 255, 0.60);
}


.footer-contact-container {
	max-width: 391px;
}

.footer-nav-container {
	max-width: 600px;
}

.footer-nav-list {
	margin: 0;
	margin-bottom: 36px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	column-gap: 75px;
	row-gap: 10px;
	list-style-type: none;
}

.footer-nav-item {
}

.footer-nav-link {
}





.modal-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	padding: 20px;
	z-index: 10;
}

/* Активная */
.modal-overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/* МОДАЛЬНОЕ ОКНО */
.modal-window {
	max-width: 983px;
	width: 100%;
	padding: 37px 34px;
	border-radius: 30px;
	background: url("../img/modal-img.jpg") center/cover no-repeat;
	color: #fff;
	text-align: center;
	position: relative;
	border-radius: 60px;
}

.modal-window-container {
	padding: 43px 40px 53px 40px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 60px;
}

/* КРЕСТИК */
.modal-close {
	position: absolute;
	top: 60px;
	right: 70px;
	background: none;
	border: none;
	font-size: 32px;
	color: #353535;
	cursor: pointer;
}

/* Заголовок */
.modal-title {
	margin: 0 0 30px 0;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}

/* Линия */
.modal-line {
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	margin-bottom: 127px;
}

/* Номер билета */
.modal-ticket {
	max-width: 686px;
	margin: 0 auto;
	margin-bottom: 75px;
	font-size: 40px;
	border: 2px solid #fff;
	border-radius: 40px;
	padding: 14px 20px;
	font-weight: 700;
}

/* Текст */
.modal-text {
	margin-bottom: 81px;
	font-size: 32px;
	font-weight: 500;
}

/* Кнопка OK */
.modal-btn {
	max-width: 221px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 47px;
	font-size: 24px;	
	font-weight: 700;
	letter-spacing: 2.16px;
}

/* Подпись */
.modal-footer {
	font-size: 32px;
	font-weight: 500;
}

.modal-faq-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	padding: 20px;
	z-index: 10;
}

.modal-faq-overlay.active {
	opacity: 1;
	pointer-events: auto;
}

.modal-faq-window {
	max-width: 970px;
	width: 100%;
	padding: 37px 34px;
	border-radius: 30px;
	background: url("../img/modal-img.jpg") center/cover no-repeat;
	color: #fff;
	text-align: center;
	position: relative;
	border-radius: 60px;
}

.modal-faq-window-container {
	padding: 43px 40px 53px 40px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 60px;
}

.modal-faq-close {
	position: absolute;
	top: 60px;
	right: 70px;
	background: none;
	border: none;
	font-size: 32px;
	color: #353535;
	cursor: pointer;
}

.modal-faq-title {
	margin: 0 0 30px 0;
	font-size: 32px;
	font-weight: 700;
}

.modal-faq-form {
	max-width: 839px;
	margin-bottom: 31px;
	width: 100%;
	display: flex;
	gap: 24px;
	flex-direction: column;
}

.modal-form-field input,
.modal-form-field textarea {
	max-width: 839px;
	padding: 20px 36px;
	width: 100%;
	box-sizing: border-box;
	font-size: 30px;
	font-weight: 500;
	border-radius: 30px;
	border: none;
}

.modal-form-field input::placeholder,
.modal-form-field textarea::placeholder {
	color: #B2B2B2;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.modal-faq-comment {
	min-height: 325px;
}

.modal-faq-btn {
	max-width: 322px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 32px;
	font-size: 24px;	
	font-weight: 700;
	letter-spacing: 2.16px;
}

.modal-faq-footer {
	font-size: 32px;
	font-weight: 500;
}
